Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are

1. Python
2. R
3. sql

Some of the commonly used libraries used by Data Scientists include

1. matplotlib
2. tensorflow
3. scikit learn

| Data science tools |
----------------------
|Jupyter|
| python|
| R|

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [2]:
(3*4)+5

17

In [7]:
##This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = (200/60)
print(hours)

3.3333333333333335

<b> Objectives: </b>

* python
* R
* Sql

<h2> P Abhishek </h2>